
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --color-blue: #00acdc;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  display: block;
  height: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li:not(:last-child) {
  margin-right: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  position: relative;
  letter-spacing: 0;
  line-height: 100%;
  padding: 0;
}

.nav-link:hover {
  color: var(--color-blue);
}

.nav-link.is-active {
  color: var(--color-blue);
}

.nav-link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
}
