:root {
  --blue: #0af;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.logo__image {
  display: block;
  width: 40px;
  height: 40px;
}

.nav {
  margin-left: 243px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 24px;
}

.nav-link {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;

  height: 60px;
  display: flex;
  align-items: center;

  position: relative;
}

.nav-link:hover {
  color: var(--blue);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  width: 0;
  height: 2px;
  background-color: var(--blue);
}

.nav-link.is-active {
  color: var(--blue);
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.is-active::after {
  width: 100%;
}
