/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  --blue: #00acdc;
  --nav-height: 60px;
}

/* BASE */
body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

/* LOGO */
.logo img {
  display: block;
}

/* NAV */
nav ul {
  display: flex;
  list-style: none;
}

nav li + li {
  margin-left: 20px;
}

/* LINKS */
nav a {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--nav-height);

  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

/* HOVER */
nav a:hover {
  color: var(--blue);
}

/* ACTIVE */
nav a.is-active {
  color: var(--blue);
}

nav a.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--blue);
}
